<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>MyBaseCamp</title>
	<link rel="stylesheet" href="/public/style.css" />
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<% if (isAuthenticated) { %>
			<a href="/users/<%= currentUser.id %>">My Dashboard</a>
			<span>Hi, <%= currentUser.name %></span>
			<form action="/sign-out" method="post" style="display:inline">
				<button>Sign out</button>
			</form>
		<% } else { %>
			<a href="/sign-in">Sign in</a>
			<a href="/users/new">Sign up</a>
		<% } %>
	</nav>

	<% if (flash.error && flash.error.length) { %>
		<div class="flash error"><%= flash.error.join('<br/>') %></div>
	<% } %>
	<% if (flash.success && flash.success.length) { %>
		<div class="flash success"><%= flash.success.join('<br/>') %></div>
	<% } %>

	<main>
		<%- body %>
	</main>
</body>
</html>


